@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700&display=swap");
.related-posts {
  clear: both;
  margin: 60px 0px;
  padding: 20px; }
  .related-posts .title-related {
    position: relative;
    margin-bottom: 20px; }
    .related-posts .title-related:after {
      content: "";
      position: absolute;
      width: 40%;
      border-top: 4px double #E5DBD1;
      height: 20px;
      top: 50%;
      left: 0%;
      z-index: -1; }
    .related-posts .title-related:before {
      content: "";
      position: absolute;
      width: 40%;
      border-top: 4px double #E5DBD1;
      height: 20px;
      top: 50%;
      left: 0%;
      z-index: -1; }
    .related-posts .title-related p {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 32px;
      font-family: 'Playfair Display', serif;
      color: #003B5C;
      text-transform: uppercase;
      text-align: center;
      display: table;
      margin: 0px auto 20px;
      border: 1px solid #E5DBD1;
      padding: 5px 20px;
      box-shadow: 3px 3px 0px #E5DBD1;
      position: relative;
      background: white; }
  .related-posts .related-posts--wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .related-posts .post-item {
    width: 32%; }
    .related-posts .post-item img {
      width: 100%; }
    .related-posts .post-item .cat {
      margin-top: 15px;
      font-family: 'Playfair Display', serif;
      font-size: 12px; }
      .related-posts .post-item .cat p {
        color: #003B5C;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.5px; }
        .related-posts .post-item .cat p span {
          color: #C3C3C3;
          text-transform: lowercase; }
    .related-posts .post-item h3 {
      font-size: 22px;
      color: #003B5C;
      line-height: 31px;
      margin: 10px 0px; }
    .related-posts .post-item a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      color: #E74832;
      font-family: 'Playfair Display', serif;
      font-weight: 500; }
      .related-posts .post-item a svg {
        margin-left: 10px;
        vertical-align: middle; }

.page-article .article-header {
  text-align: center;
  margin-top: 70px; }
  .page-article .article-header .single-header--cat {
    margin-bottom: 50px; }
    .page-article .article-header .single-header--cat h3 {
      text-transform: uppercase;
      color: #003B5C;
      font-family: 'Playfair Display', serif;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.5px; }
      .page-article .article-header .single-header--cat h3 span {
        color: #C3C3C3;
        text-transform: lowercase;
        font-weight: 500; }
  .page-article .article-header .single-title {
    max-width: 630px;
    margin: 0 auto; }
    .page-article .article-header .single-title h1 {
      font-size: 50px;
      color: #003B5C;
      line-height: 60px; }
      @media screen and (max-width: 1200px) {
        .page-article .article-header .single-title h1 {
          font-size: 40px;
          line-height: 50px; } }
      @media screen and (max-width: 768px) {
        .page-article .article-header .single-title h1 {
          font-size: 30px;
          line-height: 40px; } }
  .page-article .article-header .single-subtitle {
    max-width: 630px;
    margin: 0 auto; }
    .page-article .article-header .single-subtitle p {
      color: #5D534F;
      font-size: 22px;
      margin: 25px 0px;
      line-height: 31px; }
      @media screen and (max-width: 1200px) {
        .page-article .article-header .single-subtitle p {
          font-size: 18px;
          line-height: 25px; } }
      @media screen and (max-width: 768px) {
        .page-article .article-header .single-subtitle p {
          font-size: 15px;
          line-height: 20px; } }

.page-article .article-meta {
  max-width: 630px;
  margin: 0 auto 50px;
  padding: 20px 0;
  border-top: 4px double #E5DBD1;
  border-bottom: 4px double #E5DBD1;
  clear: both;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  .page-article .article-meta .meta-author .author-thumb {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle; }
  .page-article .article-meta .meta-author p {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #C3C3C3;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin-left: 15px;
    letter-spacing: 0.5px;
    line-height: 15px; }
    .page-article .article-meta .meta-author p span {
      color: #003B5C;
      display: block; }
  .page-article .article-meta .meta-reading p {
    font-size: 12px;
    color: #C3C3C3;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin-left: 15px;
    letter-spacing: 0.5px;
    line-height: 15px; }
    .page-article .article-meta .meta-reading p span {
      color: #003B5C;
      display: block; }
  .page-article .article-meta .social-share--links ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center; }
    .page-article .article-meta .social-share--links ul p {
      color: #C3C3C3;
      font-family: 'Playfair Display', serif;
      margin-right: 15px;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.5px; }
    .page-article .article-meta .social-share--links ul li {
      margin: 0 7px; }

.page-article .article-thumbnail {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: flex-start; }
  .page-article .article-thumbnail img {
    width: 100%; }
    @media screen and (max-width: 1200px) {
      .page-article .article-thumbnail img {
        width: 90%;
        margin-left: auto;
        margin-right: auto; } }
  .page-article .article-thumbnail .legend {
    font-size: 12px;
    color: #C3C3C3;
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    font-weight: 500;
    align-self: center; }

.page-article .article-head {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 50px; }
  .page-article .article-head .article-date {
    width: 200px;
    border-top: 4px double #E5DBD1;
    border-bottom: 4px double #E5DBD1;
    padding: 15px 0px;
    font-family: 'Playfair Display', serif; }
    @media screen and (max-width: 1200px) {
      .page-article .article-head .article-date {
        width: 50%; } }
    .page-article .article-head .article-date .day {
      display: block;
      color: #E74832;
      text-transform: uppercase;
      font-size: 36px; }
      .page-article .article-head .article-date .day-number {
        display: block;
        font-size: 72px;
        color: #E74832;
        font-weight: 600; }
    .page-article .article-head .article-date .month {
      display: block;
      color: #E74832;
      text-transform: uppercase;
      font-size: 36px; }
  .page-article .article-head .article-title--hat {
    width: 65%; }
    .page-article .article-head .article-title--hat h2 {
      font-size: 22px;
      font-style: italic;
      line-height: 31px;
      color: #003B5C; }
      @media screen and (max-width: 1200px) {
        .page-article .article-head .article-title--hat h2 {
          font-size: 18px; } }
      @media screen and (max-width: 778px) {
        .page-article .article-head .article-title--hat h2 {
          font-size: 15px;
          line-height: 20px; } }

.page-article .article-paragraph {
  margin-bottom: 50px;
  width: 65%;
  margin: 1rem; }
  @media screen and (max-width: 1200px) {
    .page-article .article-paragraph {
      align-self: center; } }
  .page-article .article-paragraph h2 {
    color: #003B5C;
    font-size: 22px;
    margin-bottom: 10px;
    color: #003B5C; }
  .page-article .article-paragraph h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #003B5C; }
  .page-article .article-paragraph p {
    color: #5D534F;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px; }
    @media screen and (max-width: 1200px) {
      .page-article .article-paragraph p {
        font-size: 12px;
        line-height: 18px; } }
    .page-article .article-paragraph p em {
      font-style: italic; }

.page-article .article-image {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: flex-start; }
  @media screen and (max-width: 1200px) {
    .page-article .article-image {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      align-self: center; } }
  .page-article .article-image img {
    margin: 0 auto;
    width: 75%; }
    @media screen and (max-width: 1200px) {
      .page-article .article-image img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-self: center; } }
  .page-article .article-image .legend {
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    line-height: 15px;
    color: #C3C3C3;
    margin-left: 20px;
    border-top: 4px double #C3C3C3;
    padding-top: 5px;
    align-self: center; }
  .page-article .article-image--aligned {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 50px;
    clear: both; }
    .page-article .article-image--aligned .item-img img {
      width: 100%; }
    .page-article .article-image--aligned .legend {
      font-size: 12px;
      font-family: 'Playfair Display', serif;
      line-height: 15px;
      color: #C3C3C3;
      margin-top: 5px;
      width: 60%; }

.page-article .article-quote {
  clear: both;
  margin-bottom: 50px;
  padding-top: 25px;
  position: relative; }
  .page-article .article-quote:before {
    content: "";
    top: 0px;
    left: 0px;
    width: 90px;
    border-top: 4px double #ED4223;
    position: absolute; }
  .page-article .article-quote p {
    color: #003B5C;
    font-size: 36px;
    line-height: 45px; }
    @media screen and (max-width: 1200px) {
      .page-article .article-quote p {
        font-size: 26px;
        line-height: 35px; } }
    @media screen and (max-width: 768px) {
      .page-article .article-quote p {
        font-size: 16px;
        line-height: 25px; } }

.page-article .container-article {
  width: 80%; }

.newsletter-section {
  background-color: #E74832;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .newsletter-section .newsletter-wrapper {
    text-align: center;
    padding: 0 auto;
    max-width: 820px;
    margin: 0 auto; }
    .newsletter-section .newsletter-wrapper h2 {
      font-size: 52px;
      font-style: italic;
      color: white;
      margin-bottom: 35px; }
      @media screen and (max-width: 1200px) {
        .newsletter-section .newsletter-wrapper h2 {
          padding: 1rem;
          margin-left: auto;
          margin-right: auto;
          font-size: 45px; } }
      @media screen and (max-width: 992px) {
        .newsletter-section .newsletter-wrapper h2 {
          font-size: 40px; } }
      @media screen and (max-width: 768px) {
        .newsletter-section .newsletter-wrapper h2 {
          font-size: 30px; } }
    .newsletter-section .newsletter-wrapper p {
      color: white;
      margin-bottom: 50px;
      font-size: 22px;
      line-height: 31px; }
      @media screen and (max-width: 992px) {
        .newsletter-section .newsletter-wrapper p {
          font-size: 30px; } }
      @media screen and (max-width: 768px) {
        .newsletter-section .newsletter-wrapper p {
          font-size: 20px; } }
    .newsletter-section .newsletter-wrapper .btn {
      color: #003B5C;
      border: 1px solid #003B5C;
      background: white;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      padding: 10px 30px;
      box-shadow: 4px 4px 0px #E74832;
      transition: 0.3s all; }
      .newsletter-section .newsletter-wrapper .btn:hover {
        box-shadow: 7px 7px 0px #E74832;
        color: white;
        background: #003B5C;
        transition: 0.3s all; }

.header {
  display: -webkit-flex;
  display: flex; }
  .header-main {
    background: white;
    padding: 27px 40px;
    position: relative;
    transition: 0.3s all; }
    .header-main.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white;
      transition: 0.3s all;
      z-index: 9999; }
      .header-main.fixed .header-right-part {
        right: 10%; }
  @media screen and (max-width: 1100px) {
    .header-logo {
      padding: 1rem;
      position: relative;
      align-self: stretch; } }
  .header-logo img {
    margin-top: 10px;
    width: 140px; }
  .header-social--link ul {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .header-social--link li {
    margin: 0px 7px; }
  .header-single--title {
    position: relative;
    margin-left: 50px; }
    @media screen and (max-width: 1100px) {
      .header-single--title {
        display: none; } }
    .header-single--title:before {
      content: "|";
      position: absolute;
      color: #E5DBD1;
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: -25px;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .header-single--title p {
      font-size: 16px;
      color: #5D534F; }
  .header-left-part {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 30px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media screen and (max-width: 1100px) {
      .header-left-part {
        padding: 0.5rem;
        flex-direction: column;
        align-items: flex-start; } }
  .header-right-part {
    position: absolute;
    top: 50%;
    right: 30px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .header-category {
    margin-left: 40px; }
    @media screen and (max-width: 1100px) {
      .header-category {
        display: none; } }
    .header-category p {
      text-transform: uppercase;
      color: #003B5C;
      font-family: 'Playfair Display', serif;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.5px; }
      .header-category p span {
        color: #C3C3C3;
        text-transform: lowercase;
        font-weight: 500; }

.footer-main {
  background: #E74832; }

.footer-wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media screen and (max-width: 1200px) {
    .footer-wrapper {
      flex-direction: column;
      align-items: flex-start; } }

.footer-logo {
  width: 230px; }
  .footer-logo img {
    width: 140px; }

.footer-col .title-footer {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 500; }
  @media screen and (max-width: 1200px) {
    .footer-col .title-footer {
      margin-top: 1rem; } }

.footer-col ul li {
  margin-bottom: 10px; }

.footer-col ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: 0.5px; }

.footer-col .btn {
  background: #E74832;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid white;
  padding: 10px 30px;
  box-shadow: 4px 4px 0px white;
  transition: 0.3s all; }
  @media screen and (max-width: 1200px) {
    .footer-col .btn {
      padding: margin 3rem; } }
  .footer-col .btn:hover {
    background: #003B5C;
    box-shadow: 7px 7px 0px white;
    transition: 0.3s all; }

.footer-social--links {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.footer-bottom {
  border-top: 4px double #E5DBD1;
  padding: 25px 0px;
  margin: 0 45px; }
  .footer-bottom .footer-bottom--wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .footer-bottom p {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    letter-spacing: 0.5px;
    font-family: 'Playfair Display', serif;
    font-weight: 500; }
  .footer-bottom a {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 0.5px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-article {
    width: 1060px;
    margin: 0 auto; }
  .container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px; }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer; }

body {
  font-family: 'Playfair Display', serif;
  overflow-x: hidden; }
