.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    &-article {
        width: 1060px;
        margin: 0 auto;
    }

    &-fluid {
        padding-right: 45px;
        padding-left: 45px;
        margin-right: auto;
        margin-left: auto
    }
}
