.footer{
    &-main {
        background: #E74832;
    }
    &-wrapper {
        padding-top: 65px;
        padding-bottom: 65px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
        }

    }
    &-logo {
        width: 230px;
        img {
            width: 140px;
        }
    }
    &-col {

        .title-footer {
        color: white;
        font-family: 'Playfair Display', serif;
        font-size: 22px;
        margin-bottom: 15px;
        font-weight: 500;
        @media screen and (max-width: 1200px) {
            margin-top: 1rem;
        }
        }

        ul {

            li {
            margin-bottom: 10px
            }
            a{
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                font-family: 'Playfair Display', serif;
                font-weight: 500;
                letter-spacing: 0.5px;

            }
        }

        .btn {
            background: #E74832;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            border: 1px solid white;
            padding: 10px 30px;
            box-shadow: 4px 4px 0px white;
            transition: 0.3s all;

            @media screen and (max-width: 1200px) {
                padding: margin 3rem;
            }

            &:hover {
                background: #003B5C;
                box-shadow: 7px 7px 0px white;
                transition: 0.3s all;
            }
        }
    }
    &-social--links {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
    &-bottom {
        border-top: 4px double #E5DBD1;
        padding: 25px 0px;
        margin: 0 45px;

        .footer-bottom--wrapper {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between
        }

        p {
            text-transform: uppercase;
            font-size: 12px;
            color: white;
            letter-spacing: 0.5px;
            font-family: 'Playfair Display', serif;
            font-weight: 500
        }

        a {
            text-transform: uppercase;
            font-size: 12px;
            color: white;
            letter-spacing: 0.5px;
            text-decoration: none;
            font-family: 'Playfair Display', serif;
            font-weight: 500;
            letter-spacing: 0.5px
        }
    }
}
